<div id="confirmModal" class="fixed top-0 left-0 w-100 h-100 bg-black-50 dn items-center justify-center z-9999">
    <div class="bg-white br3 shadow-4 pa4 mw6 w-90">
        <h2 class="f5 font-montserrat mb3" id="confirmTitle">Confirm</h2>
        <p class="f6 font-poppins mb4" id="confirmMessage">Are you sure?</p>
       <div class="flex justify-end"> 
  <button id="confirmCancel" 
    class="bg-dark-red white br2 bn  ph3 pv2 mh2 pointer dim flex items-center">
       <span class="mr2 svg-white">{svg file="close"}</span> <span class="font-poppins">Cancel</span>

  </button>

  <button id="confirmOk" 
    class="bg-green white br2 bn ph3 pv2 pointer dim shadow-1 flex items-center">
    <span class="mr2 svg-white">{svg file="check"}</span> <span class="font-poppins">OK</span>
  </button>
</div>
    </div>
</div>